* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  scroll-behavior: smooth;
}
p {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
}

.homepage h1 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.02;
}

/* nav-bar */
.my-nav {
  background-color: rgba(255, 255, 255, 0.986);
}
.my-name {
  font-size: 2rem;
  font-weight: 700;
  position: relative;
  left: 110px;
}
.list-nav {
  position: relative;
  left: 180px;
}
.navbar ul {
  padding: 10px 30px;
}
.navbar-expand-lg .navbar-nav .nav-link {
  margin: 0 20px;
}

.rawat {
  color: #000;
  font-size: 0.8rem;
  text-decoration: underline;
  font-weight: normal;
}

.nav-link {
  font-weight: 620;
}

/* main-page */

/* top-button */

.top-btn {
  position: fixed;
  left: 90%;
  top: 85%;
}
.top-btn img {
  width: 40%;
  height: 40%;
}

/* day-night-btn */

/* *************************************************** */

/* main-section */
#main {
  padding-top: 25vh;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
}

.homepage {
  padding: 15px;
  text-align: left;
}

.homepage-text {
  padding: 20px;
  position: relative;
  top: 90px;
  text-align: left;
}

.main-btn {
  padding: 8px 10px;
  background-color: #da22ff;
  border-radius: 2rem;
  color: #f1f1f1;
  font-size: 1.1rem;

  border: 2px solid #da22ff;
  text-decoration: none;
}
.main-btn:hover {
  background-color: #fff;
  border: 2px solid #da22ff;
  transition: 400ms;
  color: #000;
  cursor: pointer;
  text-decoration: none;
}
.homepage a {
  position: relative;
  top: 15px;
}

.designer-txt {
  text-decoration: underline;
}

.front-line {
  height: 5px;
  width: auto;
  background-color: #9733ee;
  margin-top: 180px;
}
.line {
  height: 4px;
  max-width: 100%;
  background-color: #da22ff;
  margin-bottom: 3rem;
}

/**********************************/

/* grid */

.grid-txt {
  font-size: 1.5rem;
  font-weight: 500;
}

.dot {
  color: red;
  font-size: 2.5rem;
}

/* about-section */
.about {
  margin-bottom: 4rem;
}

.about .about-txt:nth-child(even) {
  text-align: left;
  margin-left: 80px;
}

.about h3 {
  font-size: 2rem;
}

.about-txt h3 {
  font-size: 2rem;
  margin-bottom: 20px;
}
.about-txt p {
  font-size: 1.1rem;
}

/* middle-section */

.middle-section {
  margin: auto;
  margin-top: 50px;
}

.container .about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  border-radius: 1rem;
}
.about .about-front {
  background: #f1f1f1;
  border-radius: 1rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.about .about-front:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  transition: 0.3s;
  transform: scale(1.01);
}

.container .about:nth-child(even) .about-front {
  order: 2;
}

.about > div {
  padding: 30px 10px;
}

.container img {
  width: 100%;
  height: 270px;
}

/* carousel */
.carousel {
  margin-bottom: 50px;
}
.carousel-item {
  background: #000;
  height: 32rem;
  position: relative;
}
.carousel-txt {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 50px;
}
.overlay-img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.3;
}
/* card */

.card-me {
  background-color: #da22ff;
  width: auto;
  font-size: 1.2rem;
  height: auto;
  padding: 15px;
  margin-top: 30px;
}

/* footer */
.footer {
  padding-top: 60px;
  background-color: #00303f;
}

.follow-me {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 2rem;
}
.follow-me p {
  margin: 14px 20px;
}

.copyright {
  display: flex;
  color: white;
}
.copyright .footer-link {
  margin: 5px 20px;
}

.footer-link {
  text-decoration: none;
  color: #fff;
}

/* about-page */

input {
  padding: 12px 20px;
}

.form {
  width: 50%;
  margin: auto;
  padding: 10px 10px;
}

#form {
  background-color: #16c79a;
  border-radius: 0.75rem;
}

label {
  font-size: 1rem;
}

.email {
  margin-bottom: 7px;
}

.user-name {
  margin-bottom: 7px;
}

.user-message {
  margin-bottom: 7px;
}

/* my-work */

.my-project {
  width: auto;
  margin-bottom: 50px;
}

/* my-resume */
.resume {
  text-align: left;
  width: 50%;
  margin: auto;
}

/* all-media- quares */

@media (max-width: 700px) {
  .homepage h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.02;
    margin-bottom: 2rem;
  }
  .front-txt {
    margin-bottom: 50px;
  }
  .container .about {
    display: block;
  }
  .about-1 {
    display: block;
    width: 100%;
  }
  .front-line {
    margin-top: 0;
  }
  .homepage {
    margin-top: 8vh;
  }
  .top-btn img {
    width: 50%;
    height: 50%;
  }
  .top-btn {
    left: 85%;
    top: 88%;
  }
  .my-nav {
    background: #15db6ef1;
  }
  #main {
    padding-top: 1vh;
  }
  .container .about .about-front {
    background: #f1f1f1;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .about-txt {
    text-align: left;
  }
  .about > div {
    padding: 5px 5px;
  }
  .about .about-txt:nth-child(even) {
    text-align: left;
    margin-left: 10px;
  }
  .line {
    visibility: hidden;
  }
  .my-name {
    font-size: 1.25rem;
    position: static;
  }
  .list-nav {
    position: static;
  }
}

/* media-rule for 900px */

@media (min-width: 900px) {
  .navbar .active {
    border-bottom: 4px solid rgb(1, 255, 255);
  }
  .navbar .nav1:hover {
    border-width: 80%;
    border-bottom: 2px solid rgb(1, 255, 255);
  }
}
