* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}
p {
    font-size: 1.4rem;
}

.designer-txt {
    color: #16c79a;

}

/* nav-bar */

.my-name {
    font-size: 2.6rem;
    font-weight: 700;
}

.rawat {
    font-size: 0.8rem;
    text-decoration: underline;
    font-weight: normal;
}

.my-nav {
    background-color: #16c79a;
    position: fixed;
}

.nav-link {
    font-weight: 600;
}

/* main-page */

.main-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* top-button */

.top-btn {
   position: fixed;
   left: 90%;
   top: 85%;
}
.top-btn img {
   width: 40%;
   height: 40%;
}
@media(max-width: 700px) {
    .top-btn img {
        width: 50%;
        height: 50%;
    }
    .top-btn {
        left: 85%;
        top: 88%;
    }
}

/* day-night-btn */

/* *************************************************** */

/* main-section */


.homepage-text {
    padding: 20px;
    position: relative;
    top: 90px;
    text-align: left;

}

.homepage-img {
    padding: 20px;
    position: relative;
    top: 40px;
}

.main-btn {
    padding-top: 20px;
}

.designer-txt {
    text-decoration: underline;
}

.front-img {
    width: 360px;
    height: 400px;
}
.front-line {
    height: 5px;
    width: auto;
    background-color: #a2d0c1;
    margin-top: 300px;
    margin-bottom: 50px;
}

/**********************************/


/* grid */

.grid {
    position: relative;
}

.grid-txt {
    font-size: 1.5rem;
    font-weight: 500;
}

.dot {
    color: red;
    font-size: 2.5rem;
}

/* about-section */

.about-1 {
    color: #495464;
    padding: 5px 7px;
    width: 70%;
    margin: auto;
}
@media (max-width: 600px) {
    .about-1 {
    display: block;
    width: 100%;
    }
}

.about-txt h3 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.about-front {
    text-align: center;
}

.about-img {
    width: 300px;
    height: 200px;
}

/* middle-section */

.middle-section {
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
}

.about {
    margin-bottom: 10px;
}

.container .about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background: #e7e6e1;
}

@media(max-width:700px){
    .container .about {
        display: block;
        margin-left: 20px;
        margin-right: 20px;
    }
}

.container .about:nth-child(even) .about-front {
    order: 2;
}

.about > div {
    padding: 30px 10px;
}

.container img {
    width: 100%;
    height: 300px;
}


/* card */


.card-me {
    background-color: #11698e;
    width: auto;
    font-size: 1.2rem;
    height: auto;
    padding: 15px;
    margin-top: 30px;
}



/* footer */
.footer {
    padding: 100px 30px;
    background-color: #00303f;
}

.site-map {
    color: white;
    position: relative;
    bottom: 60px;
}

.site-map p {
    font-size: 2rem;
}

.site-map-link {
    text-decoration: none;
    color: gray;
    cursor: pointer;
}

.follow-me {
    color: #fff;
    font-size: 2.7rem;
    padding: 10px 50px;
}

.copyright {
    color: white;
    position: relative;
    top: 80px;
    padding: 10px 0;
}
.footer-link {
    text-decoration: none;
    color: #fff;
}

/* about-page */

input {
    padding: 12px 20px;
}

.form {
    width: 50%;
    margin: auto;
    padding: 10px 10px;
}

#form {
    background-color: #16c79a;
    border-radius: .75rem;
}

label {
    font-size: 1rem;
}

.email {
    margin-bottom: 7px;
}

.user-name {
    margin-bottom: 7px;
}

.user-message {
    margin-bottom: 7px;
}

/* my-work */

.my-project {
    width: auto;
    margin-bottom: 50px;
}


/* my-resume */
.resume {
    text-align: left;
    width: 50%;
    margin: auto;
}
